<h1>Admin Notification: New User Notification</h1>

<p>Dear Admin,</p>

<p>A new user has been added to the platform</p>

<ul>
  <li>User: <%= @user.first_name %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<p>Thank you for your attention.</p>

<p>Sincerely,</p>
<p>Your App Team</p>