<h1>Admin Notification: User Validated</h1>

<p>Dear Admin,</p>

<p>A user has been validated and is now active on the platform.</p>

<ul>
  <li>User: <%= @user.first_name %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<p>Thank you for your attention.</p>

<p>Sincerely,</p>
<p>Your App Team</p>